.banner{
    height: calc(100vh - 74px);
}
.banner-content{
    max-width: 670px;
}
.content-center{
    display:flex;
    justify-content: center;
    align-items: center;
}
.banner-button{
    color: #000;
    background: #ffc72c;
    border-radius: 30px;
    padding: 1rem 5rem;
    margin-bottom: 3rem;
}